<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <h1>blah blah blah</h1>
  </body>
</html>
=======
    <h1>edit</h1>
=======
    <h1>User Edit Page</h1>
  </body>
</html>
    <h1>Edit <%=member.username%></h1>


    <form action='/members/<%=member.id%>?_method=PUT' method="POST">
        Username: <input type="text" name="username" value='<%=member.username%>'>
        Password: <input type="password" name="password">
        Zip Code: <input type='text' name='zipcode' value='<%=member.zipcode%>'>
        <input type="submit" value="Edit Member">
    </form>

>>>>>>> befc307e8a55c5ce4eda40626869369377b1cf0b
  </body>
</html>
>>>>>>> 9464e72772019e96b347777d9d41d613e3dd8dc5
