<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Crushed|Quicksand:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<title>User Login</title>
</head>
<body class='loginPage'>
<header>
	<nav>
<div>
 	<ul class='loginNav'>

 	<li>
 		<a href="/session/register">Register</a>
 	</li>
</ul>

</div>
</nav>
</header>

<div class='loginHeader'>
<h2>Login</h2>
<form class='login' action="/session/login" method="POST">
   Username: <input type="text" name="username" value="">
   Password: <input type="password" name="password" value="">
   <button id="register">Login</button>
</form>
</div>
<%if(message) {%>
<br/>
<p><%=message%> </p>
<%}%>
<p id='bold'> If you just registered, please log in. You can then store pets to your wishlist. </p>
<a id='registerLink' href="/session/register">Want to create a new account? Register!</a>



<footer>

  </footer>

</body>
</html>
