
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Crushed|Quicksand:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/views.css">

</head>
<body>

<header>
	<nav>
<div>
 	<ul >
 	<li>
 		<a href="/">Home</a>
 	</li>
  <li>
    <a href="/session/login">Login</a>
  </li>
</ul>

</div>
</nav>
</header>

<div>
<h3>Member Registration</h3>

<form action='/session/register' method='POST'>
   Username: <input type="text" name="username" value="">
   Password: <input type="password" name="password" value="">
   <button>Register</button>


</form>
<br/>
<a href="/session/login">Already have an account? Log In!</a>


</body>
</html>
