
<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>

<header>
	<nav>
<div>
 	<ul >
 	<li>
 		<a href="/">Home</a>
 	</li>
  <li>
    <a href="/session/login">Login</a>
  </li>
</ul>

</div>
</nav>
</header>

<div>
<h3>Member Registration</h3>
<br/>
<form action='/session/register' method='POST'>
   Username: <input type="text" name="username" value="">
   Password: <input type="password" name="password" value="">
   Zip Code: <input type='text' name='zipcode' value=''>
   <button>Register</button>
   

</form>
<a href="/session/login">Already have an account? Log In!</a>


</body>
</html>
