body {
    background: #f5e6cc;
    font-family: 'Quicksand', sans-serif;
}
.header {
  min-height: 90px;
  margin: 0 auto;
}
h1 {
  font-family: 'Crushed', cursive;
  font-size: 65px;
  text-align: center;
  color: #f5e6cc;
}
/*.btn {
  font-family: 'Quicksand', sans-serif;
  color: #a64ac9;
}*/
.dropdown-menu {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 15px;
  background-color: #f5e6cc;
  color:  #a64ac9;
}
h2{
  font-family: 'Crushed', cursive;
  font-size: 28px;
  letter-spacing: 1px;
  color: #a64ac9;
  text-align: center;
  margin-top: 15px;
}
h3{
      font-size: 25px;
      font-family: 'Crushed', cursive;
      letter-spacing: 1px;
      color: #f5e6cc;
      margin-left: 55px;
      margin-top:  50px;

    }
    .form-1-background {
      background-color: #17e9e0;
      min-height: 180px;
    }
    .form-2-background {
      background-color: #fccd04;
      min-height: 130px;

    }

    .form-1-background, .form-2-background {
      margin-top: 70px;
      text-align: center;

    }


  .inputs {
        font-family: 'Quicksand', sans-serif;
        background-color:  #f5e6cc;
        width: 160px;
        height: 30px;
        font-size: 16px;
        color: #a64ac9;


      }
      .button, .btn {
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        color: #a64ac9;
        background-color: #f5e6cc;
            background-repeat:no-repeat;
            border:none;
            cursor:pointer;
            /*overflow: hidden;*/
      }
      .btn {
        font-family: 'Quicksand', sans-serif;
        color: #a64ac9;
      }
#mod-btn {
  background-color: #f5e6cc;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #a64ac9;
      background-repeat:no-repeat;
      border:none;
      cursor:pointer;
      margin-left:  405px;
      margin-top: -60px;
}
a {
font-family: 'Crushed', cursive;
color: #a64ac9;
  font-size: 25px;
  font-weight: 500;
  padding: 20px;
  margin: 10px;
}
.modal-text {
  font-family: 'Crushed', cursive;
  color: #a64ac9;
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
    margin: 10px;
}
    .footer{
        min-height: 60px;
        margin-bottom: 0;
    }
    .header, .footer{
        background: #a64ac9;
        z-index: 0;
    }
    .sidebar{
        /*background: #dbdfe5;*/
    }
    .intro{
        min-height: 250px;
        background: #a64ac9;
        background-size: cover;
        margin-top: -45px;

    }
    /*.intro2 {
      min-height: 250px;
      min-height: 300px;
      background: #17e9e0;
      background-size: cover;
      padding: -20px;
      margin-top: -75px;
    }*/

    .image1 {
margin-top: -125px;

    }
    .image2 {
      margin-top: -90px;
    }
    .image3 {

      margin-top: -125px;
      margin-right: 65px;

   }
   .clearfix::after {
    content: "";
    clear: both;
    display: table;
}


    .popover {
margin-left: 200px;
}

/* Popover Header */
.popover-title {
    background-color: coral;
    opacity: .4

}

/* Popover Body */
.popover-content {
  font-family: 'Quicksand', sans-serif;
    background-color: rgba(166, 74, 201, .08);
    color: #a64ac9;
    padding: 25px;
    font-size: 22px;

}
/*.pop-text {
  color: #a64ac9;
  padding: 25px;
  font-size: 22px;
}*/
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-pinterest {
  background-color: red;
  color: white;
}
.fa-envelope {
  background: #3B5998;
  color: white;
}
    /*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/
/*+++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++=*/
 /*users show page*/
 /*+++++++++++++++++++++++++++++++++
 +++++++++++++++++++++++++++++++++*/

#page2, body {
    background: #f5e6cc;
    font-family: 'Quicksand', sans-serif;
}
#page2, .header {
  min-height: 90px;
  margin: 0 auto;
}
#page2, h1 {
  font-family: 'Crushed', cursive;
  font-size: 65px;
  text-align: center;
  color: #f5e6cc;
}
#page2, .btn {
  font-family: 'Quicksand', sans-serif;
  color: #a64ac9;
}
#page2, .dropdown-menu {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 15px;
  background-color: #f5e6cc;
  color:  #a64ac9;
}
#page2, h2{
  font-family: 'Crushed', cursive;
  font-size: 28px;
  letter-spacing: 1px;
  color: #a64ac9;
  text-align: center;
  margin-top: 15px;
}
#page2, li {
  list-style: none;
}
#page2, .footer{
    min-height: 60px;
    margin-bottom: 0;
}
#page2, .header, .footer{
    background: #a64ac9;
    
}
