.row > div{
        margin-bottom: 15px;
    }
	.header{
        min-height: 90px;
        border: blue 1px solid;
    }
    h1, h2 {
      font-family: 'Short Stack', cursive;
    }
    .footer{
        min-height: 60px;
    }
    .header, .footer{
        /*background: #2f2f2f;*/
    }
    .sidebar{
        /*background: #dbdfe5;*/
    }
    .intro{
        /*background: #7e8aa0;*/
        min-height: 250px;
        border: red 1px solid;
    }
    .loggin {
      border: green 1px solid;
    }
    .images {
      display: flex;
      justify-content: center;
    }
    .section {
        min-height: 100px;
        border: purple 1px solid;
        /*padding: 20px;*/
        /*overflow: hidden;*/
        display: inline-block;
        float: none;
        /*background: #dbdfe5;*/
    }

    /*.statistic {
      height: 150px;
      background-color: #a64ac9;
      margin-left: : 0;
    }*/
    /*.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

/* The actual popup */
/*.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

/* Popup arrow */
/*.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
/*.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s;*/
/*}

/* Add animation (fade in the popup) */
/*@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}*/

/*@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}*/
