
#page2, body {
  background-color: #f5e6cc;
  font-family: 'Quicksand', sans-serif;
}
#page2, .header {
  min-height: 90px;
  margin: 0 auto;
}
.welcome {
  font-family: 'Crushed', cursive;
  font-size: 45px;
  text-align: center;
}
#page2, h1 {
  font-family: 'Crushed', cursive;
  font-size: 65px;
  text-align: center;
  color: #f5e6cc;
}
#page2, .btn {
  font-family: 'Quicksand', sans-serif;
  color: #a64ac9;
}
#page2, .dropdown-menu {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  /*margin-bottom: 15px;*/
  background-color: #f5e6cc;
  color:  #a64ac9;
}
#page2, h2{
  font-family: 'Crushed', cursive;
  font-size: 28px;
  letter-spacing: 1px;
  color: #a64ac9;
  text-align: center;
  margin-top: 15px;
}
#page2, li {
  list-style: none;
}
.btn {
  background-color: #f5e6cc;
  border: #a64ac9 1px solid;
  color: #a64ac9;
  font-size: 18px;
}

#navigation {
  margin-right: 88.5%;
}